<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
      name="viewport">
  <meta content="ie=edge" http-equiv="X-UA-Compatible">
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" rel="stylesheet">
  <title>Document</title>
</head>
<body class="bg-secondary bg-gradient">
<div class="container">
  <div class="row justify-content-center vh-100 align-items-center">
    <div class="col-lg-6 col-md-8">
      <div class="card shadow">
        <img alt="succulent" class="card-img" src="https://source.unsplash.com/1600x900/?succulent,green,dark,table">
        <div class="card-img-overlay text-white">
          <h5 class="card-title">###EMAIL###</h5>
        </div>
        <div class="card-body">
          <h4 class="card-title">###SUBJECT###</h4>
          <p class="card-text">###BODY###</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>