<div class="container d-flex justify-content-center mt-5">
  <div class="card shadow-lg w-50 p-2">
    <div class="d-flex justify-content-center">
      <p>Login</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
               aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" formControlName="password2" class="form-control" id="exampleInputPassword1">
      </div>
      @if (errorMessage) {
        <div class="alert alert-danger" role="alert">
          {{ errorMessage }}
        </div>
      }
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
